.navigation {
    padding: 10px;
    /* position: fixed; */
  }
  .navs{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .movie{
    font-size: 30px;
    margin-left: 10%;
  }
  .links {
    display: flex;
    align-items: center;
    margin-right: 20%;
  }
  .links li {
    list-style: none;
    margin-right: 15px;
  }
 
  .links button {
    background-color: #a94c4c;
    color: #fff;
    border: none;
    padding: 10px 36px;
    border-radius: 4px;
  }
  /* Search styles */
  .search {
    display: flex;
    align-items: center;
  }
  .search input {
    padding: 8px;
    border: solid;
    border-color: #DCDCDC;
    /* border-radius: 4px 0 0 4px; */
    /* outline: none; */
  }
  .search button {
    background-color: #a94c4c;
    color: #fff;
    border: none;
    padding: 11px 16px;
    border-radius: 1px;
    cursor: pointer;
    /* margin-left: 10%; */
  }
  /* Search results styles */
  .search-results {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .search-result {
    max-width: 300px;
    margin: 10px;
    padding: 10px;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    border: 1px solid #DCDCDC;
    text-align: left;
    /* border: 4px solid; */
  }
  .search-result img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
    /* border: 6px solid #FF0000; */
  }
  .search-result h3 {
    font-size: 18px;
    margin-top: 10px;
  }
  .search-result p {
    font-size: 14px;
    margin-top: 10px;
  }